<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>قالب HTML چند منظوره پلانو - درباره ما </title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon-11.png" type="image/x-icon">
<link rel="icon" href="images/favicon-11.png" type="image/x-icon">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700;800&family=Oswald:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header / Header Style Three -->
    <header class="main-header header-style-three">
    	
		<!-- Header Top -->
        <div class="header-top">
            <div class="auto-container">
                <div class="clearfix">
				
					<!-- Top Left -->
                    <div class="top-left clearfix">
					
						<!-- Info List -->
                        <ul class="info-list clearfix">
							<li><span>تلفن تماس: </span><a href="tel:021-1234567"> 021-1234567</a></li>
							<li><span>پشتیبانی:</span><a href="mailto:info@yourcompany.com"> info@yourcompany.com</a></li>
						</ul>
						
                    </div>
					
                </div>
            </div>
        </div>
		
    	<!-- Header Upper -->
        <div class="header-upper">
        	<div class="outer-container">
            	<div class="clearfix">
                	
                	<div class="pull-left logo-box">
                    	<div class="logo"><a href="index.html"><img src="images/logo-12.png" alt="" title=""></a></div>
                    </div>
					
                   	<div class="nav-outer clearfix">
						<!-- Mobile Navigation Toggler -->
                        <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
						<!-- Main Menu -->
						<nav class="main-menu navbar-expand-md">
							<div class="navbar-header">
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>

							<div class="navbar-collapse show collapse clearfix" id="navbarSupportedContent">
								<ul class="navigation clearfix">
									<li class="dropdown"><a href="#">خانه</a>
                                        <ul>
                                            <li><a href="index.html">آژانس بازاریابی</a></li>
											<li><a href="index-2.html">آژانس استارتاپ</a></li>
											<li><a href="index-3.html">آژانس دیجیتال</a></li>
											<li><a href="index-4.html">آرایشگاه</a></li>
											<li><a href="index-5.html">بدنسازی</a></li>
											<li><a href="index-6.html">آژانس مسافرتی</a></li>
											<li><a href="index-7.html">رستوران</a></li>
											<li><a href="index-8.html">فروشگاه</a></li>
											<li><a href="index-9.html">مشاور املاک</a></li>
											<li><a href="index-10.html">برنامه ریز عروسی</a></li>
                                        </ul>
                                    </li>
									<li class="current dropdown"><a href="#">درباره ما</a>
                                        <ul>
                                            <li><a href="about.html">درباره ما</a></li>
											<li><a href="team.html">تیم</a></li>
											<li><a href="faq.html">سؤالات متداول</a></li>
											<li><a href="privacy.html">حریم خصوصی</a></li>
                                        </ul>
                                    </li>
									<li class="dropdown"><a href="#">صفحات</a>
										<ul>
											<li><a href="price.html">لیست قیمت</a></li>
											<li><a href="testimonials.html">نظر کاربران</a></li>
											<li><a href="coming-soon.html">به زودی</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="#">خدمات</a>
                                        <ul>
                                            <li><a href="service.html">خدمات</a></li>
                                            <li><a href="service-detail.html">خدمات جزئیات</a></li>
                                        </ul>
                                    </li>
									<li class="dropdown"><a href="#">وبلاگ</a>
                                        <ul>
                                            <li><a href="blog.html">وبلاگ</a></li>
                                            <li><a href="blog-detail.html">جزئیات وبلاگ</a></li>
                                            <li><a href="not-found.html">خطای 404</a></li>
                                        </ul>
                                    </li>
									<li class="dropdown"><a href="#">فروشگاه ما</a>
										<ul>
											<li><a href="shops.html">محصولات ما</a></li>
											<li><a href="shop-single.html">محصولات تکی</a></li>
											<li><a href="shoping-cart.html">سبد خرید</a></li>
											<li><a href="checkout.html">بررسی</a></li>
											<li><a href="login.html">ورود</a></li>
											<li><a href="register.html">ثبت نام</a></li>
										</ul>
									</li>
                                    <li><a href="contact.html">تماس با ما</a></li>
								</ul>
							</div>
							
						</nav>
						
					</div>
                   
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        
		<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon lnr lnr-cross"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="images/logo-12.png" alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            </nav>
        </div><!-- End Mobile Menu -->
		
    </header>
    <!--End Main Header -->
	
	<!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/11.jpg)">
		<div class="pattern-layer" style="background-image: url(images/background/pattern-5.png)"></div>
    	<div class="auto-container">
			<h2>درباره ما</h2>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- We Are Section -->
	<section class="we-are-section">
		<div class="pattern-layer" style="background-image: url(images/background/pattern-6.png)"></div>
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="images/resource/we-are.jpg" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<h2>درباره ما</h2>
						<div class="text">
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است. </p>
						</div>
					</div>
				</div>
				
			</div>
			
			<!-- Lower Section -->
			<div class="lower-section">
				<div class="row clearfix">
					<!-- Column -->
					<div class="column col-lg-6 col-md-12 col-sm-12">
						<h2>تاریخچه ما</h2>
						<div class="text">
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
						</div>
					</div>
					<!-- Column -->
					<div class="column col-lg-6 col-md-12 col-sm-12">
						<h2>کارهای ما</h2>
						<ul class="list-style-one">
							<li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</li>
							<li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.</li>
							<li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.</li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
	</section>
	<!-- End We Are Section -->
	
	<!-- Counter Section / Style Two -->
    <section class="counter-section">
		<div class="auto-container">
		
			<!-- Fact Counter -->
			<div class="fact-counter style-two">
				<div class="row clearfix">

					<!-- Column -->
					<div class="column counter-column col-lg-4 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="content">
								<div class="count-outer count-box">
									<span class="count-text" data-speed="2500" data-stop="6">0</span>+
								</div>
								<h4 class="counter-title">سال در بازار</h4>
							</div>
						</div>
					</div>

					<!-- Column -->
					<div class="column counter-column col-lg-4 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
							<div class="content">
								<div class="count-outer count-box alternate">
									<span class="count-text" data-speed="4000" data-stop="125">0</span>
								</div>
								<h4 class="counter-title">تعداد کارکنان</h4>
							</div>
						</div>
					</div>

					<!-- Column -->
					<div class="column counter-column col-lg-4 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
							<div class="content">
								<div class="count-outer count-box">
									<span class="count-text" data-speed="5000" data-stop="152">0</span>
								</div>
								<h4 class="counter-title">پروژه  موفق</h4>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- End Counter Section / Style Two -->
	
	<!-- Team Section -->
	<section class="team-section">
		<div class="auto-container">
			<!-- Sec Title Two -->
			<div class="sec-title-two centered">
				<h2>تیم ما</h2>
				<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ <br> و با استفاده از طراحان گرافیک است</div>
			</div>
			
			<div class="row clearfix">
				
				<!-- Team Block -->
				<div class="team-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="team.html"><img src="images/resource/team-1.jpg" alt="" /></a>
							<div class="social-box">
								<a href="#" class="fab fa-facebook-f"></a>
								<a href="#" class="fab fa-twitter"></a>
								<a href="#" class="fab fa-instagram"></a>
								<a href="#" class="fab fa-linkedin-in"></a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="team.html"><img src="images/resource/team-2.jpg" alt="" /></a>
							<div class="social-box">
								<a href="#" class="fab fa-facebook-f"></a>
								<a href="#" class="fab fa-twitter"></a>
								<a href="#" class="fab fa-instagram"></a>
								<a href="#" class="fab fa-linkedin-in"></a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="team.html"><img src="images/resource/team-3.jpg" alt="" /></a>
							<div class="social-box">
								<a href="#" class="fab fa-facebook-f"></a>
								<a href="#" class="fab fa-twitter"></a>
								<a href="#" class="fab fa-instagram"></a>
								<a href="#" class="fab fa-linkedin-in"></a>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
			<!-- More Team -->
			<div class="more-team text-center">
				<a href="team.html" class="members">مشاهده همه اعضا</a>
			</div>
			
		</div>
	</section>
	<!-- End Team Section -->
	
	<!-- Testimonial Section Three -->
    <section class="testimonial-section-three">
		<!-- Pattern Layer -->
		<div class="plant-one paroller" data-paroller-factor="0.40" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="horizontal" style="background-image:url(images/resource/plant-1.png)"></div>
		<div class="plant-two paroller" data-paroller-factor="-0.40" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="horizontal" style="background-image:url(images/resource/plant-2.png)"></div>
        <div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title-two light text-center">
				<h2>ما مشتری خود را دوست داریم</h2>
			</div>
			<div class="inner-container">
				
				<div class="testimonial-carousel owl-carousel owl-theme">
					
					<!-- Testimonial Block Two -->
					<div class="testimonial-block-two style-two">
						<div class="inner-box">
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<div class="image">
											<img src="images/resource/author-1.jpg" alt="" />
										</div>
									</div>
									<div class="author-name">بهمن دوستی</div>
									<div class="designation">سئو ، طراح</div>
								</div>
							</div>
							<div class="text">“لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.”</div>
							<div class="quote-icon flaticon-quote"></div>
						</div>
					</div>
					
					<!-- Testimonial Block Two -->
					<div class="testimonial-block-two style-two">
						<div class="inner-box">
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<div class="image">
											<img src="images/resource/author-2.jpg" alt="" />
										</div>
									</div>
									<div class="author-name">آنا اسکندری</div>
									<div class="designation">مدیر کل ، طراح</div>
								</div>
							</div>
							<div class="text">“لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.”</div>
							<div class="quote-icon flaticon-quote"></div>
						</div>
					</div>
					
					<!-- Testimonial Block Two -->
					<div class="testimonial-block-two style-two">
						<div class="inner-box">
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<div class="image">
											<img src="images/resource/author-1.jpg" alt="" />
										</div>
									</div>
									<div class="author-name">بهمن دوستی</div>
									<div class="designation">سئو ، طراح</div>
								</div>
							</div>
							<div class="text">“لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.”</div>
							<div class="quote-icon flaticon-quote"></div>
						</div>
					</div>
					
					<!-- Testimonial Block Two -->
					<div class="testimonial-block-two style-two">
						<div class="inner-box">
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<div class="image">
											<img src="images/resource/author-2.jpg" alt="" />
										</div>
									</div>
									<div class="author-name">آنا اسکندری</div>
									<div class="designation">مدیر کل ، طراح</div>
								</div>
							</div>
							<div class="text">“لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.”</div>
							<div class="quote-icon flaticon-quote"></div>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Testimonial Section Three -->
	
	<!-- Clients Section -->
    <section class="clients-section style-two">
        <div class="auto-container">
            <div class="sec-title centered">
				<h2>ما با برندهای معروف کار می کنیم <br> که شما به آن اعتقاد دارید.</h2>
			</div>
            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
					<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
					<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                </ul>
            </div>
            
        </div>
    </section>
    <!-- End Clients Section -->
	
	<!-- Main Footer / Style Three -->
    <footer class="main-footer style-three">
		<div class="pattern-layer-four" style="background-image: url(images/icons/dotted-pattern-7.png)"></div>
		<div class="pattern-layer-five" style="background-image: url(images/background/leaf-layer.png)"></div>
		<div class="auto-container">
			
        	<!-- Widgets Section -->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
							
							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
								<div class="footer-widget info-widget">
									<h6>تماس با ما</h6>
									<ul class="contact-list">
										<li>پشتیبانی 24/7</li>
										<li><span>تلفن: </span><a href="tel:0211234567">021-1234567</a></li>
										<li><span>ایمیل: </span><a href="mailto:info@yourcompany.com">info@yourcompany.com</a></li>
										<li><a href="mailto:support@yourcompany.com">support@yourcompany.com</a></li>
									</ul>
								</div>
							</div>
							
							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
								<div class="footer-widget links-widget">
									<h6>لینک های سریع</h6>
									<ul class="page-links">
										<li><a href="#">خانه</a></li>
										<li><a href="#">درباره ما</a></li>
										<li><a href="#">دوره های آموزشی</a></li>
										<li><a href="#">گالری</a></li>
										<li><a href="#">تماس</a></li>
										<li><a href="#">فیدبک</a></li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
					
					<!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
							
							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
								<div class="footer-widget links-widget">
									<h6>خدمات</h6>
									<ul class="page-links">
										<li><a href="#">طراحی تعاملی</a></li>
										<li><a href="#">طراحی بصری</a></li>
										<li><a href="#">تایپوگرافی</a></li>
										<li><a href="#">بازار یابی</a></li>
										<li><a href="#">تجارت الکترونیک</a></li>
										<li><a href="#">کسب و کار</a></li>
									</ul>
								</div>
							</div>
							
							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
                                    	<a href="index.html"><img src="images/logo-12.png" alt="" /></a>
                                    </div>
									<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است. </div>
									<div class="social-box">
										<span>ما را دنبال کنید</span>
										<a href="#" class="fab fa-facebook-f"></a>
										<a href="#" class="fab fa-twitter"></a>
										<a href="#" class="fab fa-linkedin"></a>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
		<!-- Copy Right -->
		<div class="footer-bottom">
			<div class="auto-container">
				<div class="copyright">&copy; 1399 کلیه حقوق محفوظ است</div>
			</div>
		</div>
	</footer>
	<!-- End Main Footer -->
	
</div>
<!--End pagewrapper-->

<!-- Search Popup -->
<div class="search-popup">
	<button class="close-search style-two"><span class="flaticon-multiply"></span></button>
	<button class="close-search"><span class="flaticon-up-arrow-1"></span></button>
	<form method="post" action="blog.html">
		<div class="form-group">
			<input type="search" name="search-field" value="" placeholder="جستجو" required="">
			<button type="submit"><i class="fa fa-search"></i></button>
		</div>
	</form>
</div>
<!-- End Header Search -->

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/tilt.jquery.min.js"></script>
<script src="js/jquery.paroller.min.js"></script>
<script src="js/mixitup.js"></script>
<script src="js/validate.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/script.js"></script>

</body>
</html>